#footer= '© '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  a(rel='nofollow', target='_blank', href='http://www.soujava.com')  马平升.
  a(rel='nofollow', target='_blank', href='https://github.com/mapingsheng')  Github
